<footer class="footer">
  <small>
    <a href="#">Gread</a>
    by <a href="https://www.facebook.com/devangtgr8">Devang Gupta</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>