<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Greed to Read", "#", id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home", "#" %></li>
						<li><%= link_to "Help", "#" %></li>
						<% if user_signed_in? %>
     					Signed in as <%= current_user.email %>. Not you?
      					<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    					<% else %>
    					<li><%= link_to "Sign in", new_user_session_path %></li>
    					<% end %>
						
					</ul>

				</nav>
			</div>
		</div>
	</header>